<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <servlet>
    <servlet-name>BuyStock</servlet-name>
    <servlet-class>BuyStock</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SellStock</servlet-name>
    <servlet-class>SellStock</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetTransactionLog</servlet-name>
    <servlet-class>GetTransactionLog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetPortfolio</servlet-name>
    <servlet-class>GetPortfolio</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAccountBalance</servlet-name>
    <servlet-class>GetAccountBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAccountBalance</servlet-name>
    <url-pattern>/GetAccountBalance/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetPortfolio</servlet-name>
    <url-pattern>/GetPortfolio/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTransactionLog</servlet-name>
    <url-pattern>/GetTransactionLog/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SellStock</servlet-name>
    <url-pattern>/SellStock/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyStock</servlet-name>
    <url-pattern>/BuyStock/*</url-pattern>
  </servlet-mapping>
</web-app>
